{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }}-Home{% endblock %}

{% block content %}
<style>
    ul {
        list-style: none:
        padding: 0;
        margin: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        margin-right: 20px
    }
    img {
        width: 500px;
        height: auto;
        display: block;
    }
    li:nth-child(3n) {
        margin-right: 0;
    }
</style>
<div>
<h1>Detected Images</h1>
    <ul>
    {% for image in image_files %}
        <li>
            <img src="{% static 'images/cars/' %}{{ image }}" alt="{{ image }}">
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}